EURI_EMBED_MODEL = ""
CHAT_MODEL="" 
EURI_BASE_URL="choose your router of your choice openrouter or anyone" 
EURI_API_KEY = ""
QDRANT_URL = "QDRANT_URL"
QDRANT_API_KEY = "QDRANT_API_KEY"
QDRANT_COLLECTION = ""


